name: CI on Github - CD on Heroku

on:
  push:
    branches: [ "dev_main" ]

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python 3.11
      uses: actions/setup-python@v4
      with:
        python-version: '3.11'
        cache: 'pip'
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install flake8 pytest
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
    - name: Lint with flake8
      run: |
        # stop the build if there are Python syntax errors or undefined names
        flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
        # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
        flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics
    - name: Lint with black
      uses: psf/black@stable  # formatting with black
      continue-on-error: true

  deploy:
    needs: build
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Set up Heroku
      uses: akhileshns/heroku-deploy@v3.13.15 # This is a popular GitHub Action for deploying to Heroku
      with:
        heroku_api_key: ${{ secrets.HEROKU_API_KEY }}
        heroku_app_name: ${{ vars.HEROKU_APP_NAME }} # Replace with your Heroku app name
        heroku_email: ${{ secrets.HEROKU_EMAIL }} # Your Heroku account email
        # Optional: Add this if your project is not at the repo root
        # appdir: "your-app-directory"
